<% provide(:title, "Edit Category") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">    
   <h1 class="account_info">Update <%= @category.name %> </h1>
    <%= form_for [:admin, @category] do |f| %>    
      <%= render "fields", f: f %>      
      <%= f.submit "Save changes", class: "btn btn-primary btn_commit" %>
    <% end %>    
  </div>      
</div>