<footer class="footer">
  <small>
    Do Cong Thanh - Trinh Minh Tam
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   help_path %></li> 
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  <div class="navbar navbar-fixed-bottom">
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li class="pull-right"><a href="#top">
        <span class = "glyphicon glyphicon-send"></span>
        <font color="blue">Back to top</font></a></li>
      </ul>
    </nav>
  </div>  
</footer>
